body{
    width: 100%;
    height: auto;
    display: block;
}

#header{
    display: flex;
    flex-direction: row;
    position: absolute;
}
    .logo{
        position: relative;
        top: 5rem;
        left: 5rem;
    }
    .start-free{
        position: relative;
        top: 3rem;
        left: 100rem;
    }
        .start-free button{
            font-family: 'Merriweather', serif;
            letter-spacing: 2px;
            font-size: 18px;
            text-shadow: 1px -1px black;
            width: 10vw;
            height: 6vh;
            border-radius: 50px;
            border: 1px solid rgba(158, 158, 158, 0.46);
            box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.086);
            
        }   


#topo{
   display: flex;
   flex-direction: row;
   background: url(/scr/img/bg-hero-desktop.svg) ;
   background-size: cover;
   background-color: rgba(181, 213, 242, 0.765);
   width: 100%;
   height: 100vh;
   padding-left: 50px;
}
    .topo-texto{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-self: center;
        align-items: center;
        width: 30%;
        height: min-content;
        padding-left:2rem ;
        margin-top: 10rem;
    }  
        .topo-texto h1{
            font-family: 'Roboto', sans-serif;
            font-size: 2rem;
        }
        .topo-texto p{
            width: 27rem;
            text-align: justify;
            margin-top: 2rem;
        }
        .topo-texto button{
            margin-top: 2rem;
            margin-left: 1rem;
            background-color:hsl(322, 100%, 70%);
            border:transparent;
            border-radius: 30px;
            width: 15rem;
            height: 3rem;
        }
            .topo-texto button a{
                font-size: 16px;
                text-decoration: none;
                color: white;
            }
    .topo-design{
        display: flex;
        justify-content: center;
        width: 80%;
        margin-top: 10rem;

    }
.topo-design img{
    width: 60%;
    height: 100%;
}

/*  Ready To Build Your Community? */
/* Rodape */
#try-free-footer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 10vh;
    margin-left: auto;
    margin-right: auto;
    width:40vw ;
    height: 20vh;
    border:none;
    border-radius: 10px;
    box-shadow: 1px 2px 10px  rgba(155, 154, 154, 0.614);
    text-align: center;
    background-color: white;
}
    #try-free-footer h4{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
    }
    #try-free-footer button{
        width: 30vw;
        height: 8vh;
        border-radius: 50px;
        border: none;
        background-color: hsl(322, 75%, 63%);
        box-shadow:1px 2px 10px  rgba(155, 154, 154, 0.814);
        margin-left: auto;
        margin-right: auto;
    }
        #try-free-footer button a{
            text-decoration: none;
            color: white;
            font-size: 18px;
            text-shadow: 1px 1px black;
        }

footer{
    display: flex;

    width: 100vw;
    height:20vh ;
    background-color: hsl(192, 100%, 9%);
}

    .rodape-img img {
   
    width: auto;
    }